body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.breadcrums {
    padding: 5px;
    font-size: x-small;
}

div.menu {
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}
